<div id="pageChessboard">
        <div class="cellIndex"></div>
        <div class="cellIndex"></div>
        <div class="cellIndex"></div>
        <div class="cellIndex"></div>
        <div class="cellIndex"></div>
        <div class="cellIndex"></div>
        <div class="cellIndex"></div>
        <div class="cellIndex"></div>
        <div class="cellIndex"></div>
        <div class="cellIndex"></div>

        <div class="cellIndex">8</div>
        <div class="chessCell whiteCell" id="a8">1</div>
        <div class="chessCell blackCell" id="b8">2</div>
        <div class="chessCell whiteCell" id="c8">3</div>
        <div class="chessCell blackCell" id="d8">4</div>
        <div class="chessCell whiteCell" id="e8">5</div>
        <div class="chessCell blackCell" id="f8">6</div>
        <div class="chessCell whiteCell" id="g8">7</div>
        <div class="chessCell blackCell" id="h8">8</div>
        <div class="cellIndex"></div>

        <div class="cellIndex">7</div>
        <div class="chessCell blackCell" id="a7">1</div>
        <div class="chessCell whiteCell" id="b7">2</div>
        <div class="chessCell blackCell" id="c7">3</div>
        <div class="chessCell whiteCell" id="d7">4</div>
        <div class="chessCell blackCell" id="e7">5</div>
        <div class="chessCell whiteCell" id="f7">6</div>
        <div class="chessCell blackCell" id="g7">7</div>
        <div class="chessCell whiteCell" id="h7">8</div>
        <div class="cellIndex"></div>

        <div class="cellIndex">6</div>
        <div class="chessCell whiteCell" id="a6">1</div>
        <div class="chessCell blackCell" id="b6">2</div>
        <div class="chessCell whiteCell" id="c6">3</div>
        <div class="chessCell blackCell" id="d6">4</div>
        <div class="chessCell whiteCell" id="e6">5</div>
        <div class="chessCell blackCell" id="f6">6</div>
        <div class="chessCell whiteCell" id="g6">7</div>
        <div class="chessCell blackCell" id="h6">8</div>
        <div class="cellIndex"></div>

        <div class="cellIndex">5</div>
        <div class="chessCell blackCell" id="a5">1</div>
        <div class="chessCell whiteCell" id="b5">2</div>
        <div class="chessCell blackCell" id="c5">3</div>
        <div class="chessCell whiteCell" id="d5">4</div>
        <div class="chessCell blackCell" id="e5">5</div>
        <div class="chessCell whiteCell" id="f5">6</div>
        <div class="chessCell blackCell" id="g5">7</div>
        <div class="chessCell whiteCell" id="h5">8</div>
        <div class="cellIndex"></div>

        <div class="cellIndex">4</div>
        <div class="chessCell whiteCell" id="a4">1</div>
        <div class="chessCell blackCell" id="b4">2</div>
        <div class="chessCell whiteCell" id="c4">3</div>
        <div class="chessCell blackCell" id="d4">4</div>
        <div class="chessCell whiteCell" id="e4">5</div>
        <div class="chessCell blackCell" id="f4">6</div>
        <div class="chessCell whiteCell" id="g4">7</div>
        <div class="chessCell blackCell" id="h4">8</div>
        <div class="cellIndex"></div>

        <div class="cellIndex">3</div>
        <div class="chessCell blackCell" id="a3">1</div>
        <div class="chessCell whiteCell" id="b3">2</div>
        <div class="chessCell blackCell" id="c3">3</div>
        <div class="chessCell whiteCell" id="d3">4</div>
        <div class="chessCell blackCell" id="e3">5</div>
        <div class="chessCell whiteCell" id="f3">6</div>
        <div class="chessCell blackCell" id="g3">7</div>
        <div class="chessCell whiteCell" id="h3">8</div>
        <div class="cellIndex"></div>

        <div class="cellIndex">2</div>
        <div class="chessCell whiteCell" id="a2">1</div>
        <div class="chessCell blackCell" id="b2">2</div>
        <div class="chessCell whiteCell" id="c2">3</div>
        <div class="chessCell blackCell" id="d2">4</div>
        <div class="chessCell whiteCell" id="e2">5</div>
        <div class="chessCell blackCell" id="f2">6</div>
        <div class="chessCell whiteCell" id="g2">7</div>
        <div class="chessCell blackCell" id="h2">8</div>
        <div class="cellIndex"></div>

        <div class="cellIndex">1</div>
        <div class="chessCell blackCell" id="a1">1</div>
        <div class="chessCell whiteCell" id="b1">2</div>
        <div class="chessCell blackCell" id="c1">3</div>
        <div class="chessCell whiteCell" id="d1">4</div>
        <div class="chessCell blackCell" id="e1">5</div>
        <div class="chessCell whiteCell" id="f1">6</div>
        <div class="chessCell blackCell" id="g1">7</div>
        <div class="chessCell whiteCell" id="h1">8</div>
        <div class="cellIndex"></div>

        <div class="cellIndex"></div>
        <div class="cellIndex">a</div>
        <div class="cellIndex">b</div>
        <div class="cellIndex">c</div>
        <div class="cellIndex">d</div>
        <div class="cellIndex">e</div>
        <div class="cellIndex">f</div>
        <div class="cellIndex">g</div>
        <div class="cellIndex">h</div>
        <div class="cellIndex"></div>

    </div>